#loginBtn {
    -fx-background-color: lightskyblue;
    -fx-font-family:verdana;
   /* -fx-font-size:20;*/
  /*  -fx-font-weight: bold;*/
   /* -fx-stroke:navy;*/
  /*  -fx-font-style:italic;*/
    /*-fx-border-radius: 5;*/
   /* -fx-background-radius: 20;*/
    -fx-padding: 5;
}
.label {
   /* -fx-text-fill: red;*/
    -fx-font-weight: bold;
    /*-fx-font-style: italic;*/
    -fx-font-family: Arial;
    -fx-font-smoothing-type: gray;
}
.invalidField {
   -fx-background-color: lightpink;
}